<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Creative - Start Bootstrap Theme</title>

    <!-- Bootstrap core CSS -->
    <link href="static/styles/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="static/styles/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="static/styles/vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/styles/css/creative.min.css" rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">根</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header class="masthead">
      <div class="header-content">
        <div class="header-content-inner">
	  <form action="/#character" method="post">
            <input class="btn btn-xl" type="text" name="character" placeholder="Chinese character"/>  <br /> <br/>
	    <input class="btn btn-primary btn-xl" type="submit" name= "form" value="Submit"/> </br> </br> 
            </form>
          <hr>
        </div>
      </div>
    </header>

<section class="bg-primary" id="character">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
	    <hr class="light">
                 <font color="white" size="5px"> {{ message_no_argument }}</font></br>
	         <font color="white" size="5px"> {{ message_not_valid }}</font></br>
		 {% for c in character %}
	           <font color="white" size="25px"> {{ c }} </font>
                    {% endfor %}
	           {% for i in word_associations %}
                    <font color="black"><li type="none"> {{ c }}{{ i }}</li></font></br>
		    {% endfor %}
		    <font color="white">{{ "Decomposition" }}</font></br>
		    {% for j in radicals %}
		     <font color="black"> <li type="none">{{ j }}</li></font></br>
		    {% endfor %}
		     <font color="white">{{ "Etymology" }}</font></br>
		     {% for e in etymology %}
		     {{ e }}
		     {% endfor %}
		     </br></br> 
              <a class="btn btn-default btn-xl js-scroll-trigger" href="/">Try another one</a>
        </div>
        </div>
      </div>
    </section>

    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading">Let's Get In Touch!</h2>
            <hr class="primary">
            <p>Questions or feedback about the project?</p>
          </div>
        </div>
	<div class="row">
          <div class="col-lg-4 ml-auto text-center">
	    <a href="https://github.com/KatyaKalache"><img src="https://www.shareicon.net/download/2015/10/02/110885_github.ico" height="52" width="52"></a>
            <a href="https://github.com/KatyaKalache"><p>github</p></a>
          </div>
          <div class="col-lg-4 mr-auto text-center">
            <i class="fa fa-envelope-o fa-3x sr-contact"></i>
            <p>
              <a href="mailto:katya@holbertonschool.com">katya@holbertonschool.com</a>
            </p>
          </div>
        </div>
      </div>
    </section>

    <!-- Bootstrap core JavaScript -->
    <script src="static/styles/vendor/jquery/jquery.min.js"></script>
    <script src="static/styles/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="static/styles/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="static/styles/vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="static/styles/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="static/styles/js/creative.min.js"></script>

  </body>

</html>
